@use "../_utils" as u;

.button-base {
  display: inline-flex;
  flex-direction: row;
  justify-items: center;
  gap: u.rem(8);
  outline: u.rem(1) auto auto;
  border: none;
  background-color: transparent;
  align-items: center;

  /* Variants */
  &__primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);

    &:disabled {
      background-color: var(--color-surface-container);
      color: var(--color-on-surface-variant);
      opacity: 0.38;

      & .button-base__icon {
        color: var(--color-on-surface);
      }
    }

    &:hover {
      background-color: var(--color-primary-container);
      color: var(--color-on-primary-container);
    }

    &:focus-visible {
      background-color: var(--color-primary-container);
      color: var(--color-on-primary-container);
      outline: u.rem(3) solid var(--color-primary);
      outline-offset: u.rem(2);
    }
  }

  &__tonal {
  }

  &__outlined {
  }

  &__text {
  }

  &__elevated {
  }

  /* Shapes */
  &__rounded {
    border-radius: var(--radius-rounded);
  }

  &__square {
    border-radius: u.rem(12);
  }

  /* Sizes */
  &__xtra-small {
    height: u.rem(32);
    font-weight: 500;
    font-size: u.rem(14);
    line-height: u.rem(20);
    padding: 0 u.rem(12);

    & .button-base__icon {
      height: u.rem(20);
      width: u.rem(20);
    }
  }

  &__small {
    height: u.rem(40);
    font-weight: 500;
    font-size: u.rem(14);
    line-height: u.rem(20);
    padding: 0 u.rem(16);

    & .button-base__icon {
      height: u.rem(20);
      width: u.rem(20);
    }
  }

  &__medium {
    height: u.rem(56);
    font-weight: 500;
    font-size: u.rem(16);
    line-height: u.rem(24);
    padding: 0 u.rem(24);

    & .button-base__icon {
      height: u.rem(24);
      width: u.rem(24);
    }
  }

  &__large {
    height: u.rem(96);
    font-weight: 400;
    font-size: u.rem(24);
    line-height: u.rem(32);
    padding: 0 u.rem(48);

    & .button-base__icon {
      height: u.rem(32);
      width: u.rem(32);
    }
  }

  &__xtra-large {
    height: u.rem(136);
    font-weight: 400;
    font-size: u.rem(32);
    line-height: u.rem(40);
    padding: 0 u.rem(64);

    & .button-base__icon {
      height: u.rem(40);
      width: u.rem(40);
    }
  }
}
