@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --background: oklch(0.9326 0.0171 325.7131);
  --foreground: oklch(0.3503 0.0278 282.0532);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3503 0.0278 282.0532);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3503 0.0278 282.0532);
  --primary: oklch(0.7238 0.1375 309.8713);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8795 0.0658 319.6369);
  --secondary-foreground: oklch(0.4214 0.0248 282.2627);
  --muted: oklch(0.9113 0.0528 320.0953);
  --muted-foreground: oklch(0.5257 0.0218 285.626);
  --accent: oklch(0.9012 0.028 331.2361);
  --accent-foreground: oklch(0.3503 0.0278 282.0532);
  --destructive: oklch(0.8264 0.0664 48.3873);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8795 0.0658 319.6369);
  --input: oklch(0.8795 0.0658 319.6369);
  --ring: oklch(0.7238 0.1375 309.8713);
  --chart-1: oklch(0.7238 0.1375 309.8713);
  --chart-2: oklch(0.6413 0.1839 311.7884);
  --chart-3: oklch(0.5849 0.2074 314.1986);
  --chart-4: oklch(0.5332 0.191 315.3395);
  --chart-5: oklch(0.47 0.1634 315.0501);
  --sidebar: oklch(0.8795 0.0658 319.6369);
  --sidebar-foreground: oklch(0.3503 0.0278 282.0532);
  --sidebar-primary: oklch(0.7238 0.1375 309.8713);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9012 0.028 331.2361);
  --sidebar-accent-foreground: oklch(0.3503 0.0278 282.0532);
  --sidebar-border: oklch(0.8795 0.0658 319.6369);
  --sidebar-ring: oklch(0.7238 0.1375 309.8713);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.5rem;
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 10.1961% / 0.04);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 10.1961% / 0.04);
  --shadow-sm:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 1px 2px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 1px 2px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-md:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 2px 4px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-lg:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 4px 6px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-xl:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 8px 10px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 10.1961% / 0.2);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2181 0.0041 84.5884);
  --foreground: oklch(0.8732 0.0536 289.9434);
  --card: oklch(0.2793 0.0236 320.1172);
  --card-foreground: oklch(0.8732 0.0536 289.9434);
  --popover: oklch(0.2793 0.0236 320.1172);
  --popover-foreground: oklch(0.8732 0.0536 289.9434);
  --primary: oklch(0.7857 0.1097 311.1853);
  --primary-foreground: oklch(0.2181 0.0041 84.5884);
  --secondary: oklch(0.3428 0.0333 322.1395);
  --secondary-foreground: oklch(0.8324 0.0124 286.1266);
  --muted: oklch(0.2793 0.0236 320.1172);
  --muted-foreground: oklch(0.6777 0.0204 285.8422);
  --accent: oklch(0.3871 0.0371 319.0778);
  --accent-foreground: oklch(0.8324 0.0124 286.1266);
  --destructive: oklch(0.8264 0.0664 48.3873);
  --destructive-foreground: oklch(0.2181 0.0041 84.5884);
  --border: oklch(0.3428 0.0333 322.1395);
  --input: oklch(0.3428 0.0333 322.1395);
  --ring: oklch(0.7857 0.1097 311.1853);
  --chart-1: oklch(0.7857 0.1097 311.1853);
  --chart-2: oklch(0.7238 0.1375 309.8713);
  --chart-3: oklch(0.6413 0.1839 311.7884);
  --chart-4: oklch(0.5849 0.2074 314.1986);
  --chart-5: oklch(0.5332 0.191 315.3395);
  --sidebar: oklch(0.3428 0.0333 322.1395);
  --sidebar-foreground: oklch(0.8732 0.0536 289.9434);
  --sidebar-primary: oklch(0.7857 0.1097 311.1853);
  --sidebar-primary-foreground: oklch(0.2181 0.0041 84.5884);
  --sidebar-accent: oklch(0.3871 0.0371 319.0778);
  --sidebar-accent-foreground: oklch(0.8324 0.0124 286.1266);
  --sidebar-border: oklch(0.3428 0.0333 322.1395);
  --sidebar-ring: oklch(0.7857 0.1097 311.1853);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.5rem;
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 10.1961% / 0.04);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 10.1961% / 0.04);
  --shadow-sm:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 1px 2px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 1px 2px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-md:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 2px 4px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-lg:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 4px 6px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-xl:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 8px 10px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 10.1961% / 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
