*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(var(--color-surface));
  color: rgb(var(--color-on-surface));
}

img {
  display: block;
  max-width: 100%;
}

.svg {
  &:hover .svg__outlined {
    display: none;
  }

  &__filled {
    display: none;
  }

  &:hover .svg__filled {
    display: inline-block;
  }
}
