*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-background);
  color: var(--color-on-background);
}

img {
  display: block;
  max-width: 100%;
}

.svg {
  &__outlined:hover {
    display: none;
  }

  &__filled {
    display: none;
  }

  &__filled:hover {
    display: inline-block;
  }
}
