:root {
  --color-primary: oklch(48.622% 0.08972 273.309);
  --color-surface-tint: oklch(48.622% 0.08972 273.309);
  --color-on-primary: oklch(100% 0.00011 271.152);
  --color-primary-container: oklch(91.595% 0.04115 279.522);
  --color-on-primary-container: oklch(40.033% 0.09211 272.211);
  --color-secondary: oklch(48.363% 0.03392 278.662);
  --color-on-secondary: oklch(100% 0.00011 271.152);
  --color-secondary-container: oklch(91.549% 0.03274 281.914);
  --color-on-secondary-container: oklch(39.819% 0.03255 275.542);
  --color-tertiary: oklch(49.104% 0.05902 335.102);
  --color-on-tertiary: oklch(100% 0.00011 271.152);
  --color-tertiary-container: oklch(92.099% 0.05732 336.901);
  --color-on-tertiary-container: oklch(40.473% 0.05766 333.675);
  --color-error: oklch(50.6% 0.19265 27.689);
  --color-on-error: oklch(100% 0.00011 271.152);
  --color-error-container: oklch(91.825% 0.04173 25.097);
  --color-on-error-container: oklch(41.704% 0.17015 27.367);
  --color-background: oklch(98.341% 0.00984 305.045);
  --color-on-background: oklch(22.478% 0.0116 285.407);
  --color-surface: oklch(98.341% 0.00984 305.045);
  --color-on-surface: oklch(22.478% 0.0116 285.407);
  --color-surface-variant: oklch(91.374% 0.01497 290.163);
  --color-on-surface-variant: oklch(39.662% 0.01517 280.624);
  --color-outline: oklch(56.92% 0.01529 285.85);
  --color-outline-variant: oklch(82.755% 0.01534 290.137);
  --color-shadow: oklch(0% 0 0);
  --color-scrim: oklch(0% 0 0);
  --color-inverse-surface: oklch(31.057% 0.01081 278.209);
  --color-inverse-on-surface: oklch(95.868% 0.00963 298.938);
  --color-inverse-primary: oklch(83.173% 0.08408 275.506);
  --color-primary-fixed: oklch(91.595% 0.04115 279.522);
  --color-on-primary-fixed: oklch(23.081% 0.10007 265.935);
  --color-primary-fixed-dim: oklch(83.173% 0.08408 275.506);
  --color-on-primary-fixed-variant: oklch(40.033% 0.09211 272.211);
  --color-secondary-fixed: oklch(91.549% 0.03274 281.914);
  --color-on-secondary-fixed: oklch(22.688% 0.03371 273.325);
  --color-secondary-fixed-dim: oklch(82.862% 0.03371 279.963);
  --color-on-secondary-fixed-variant: oklch(39.819% 0.03255 275.542);
  --color-tertiary-fixed: oklch(92.099% 0.05732 336.901);
  --color-on-tertiary-fixed: oklch(23.143% 0.05646 331.648);
  --color-tertiary-fixed-dim: oklch(83.505% 0.06306 335.514);
  --color-on-tertiary-fixed-variant: oklch(40.473% 0.05766 333.675);
  --color-surface-dim: oklch(88.891% 0.0098 298.948);
  --color-surface-bright: oklch(98.341% 0.00984 305.045);
  --color-surface-container-lowest: oklch(100% 0.00011 271.152);
  --color-surface-container-low: oklch(96.574% 0.01115 302.818);
  --color-surface-container: oklch(94.965% 0.00965 298.939);
  --color-surface-container-high: oklch(93.183% 0.01101 297.375);
  --color-surface-container-highest: oklch(91.362% 0.01106 297.376);
  --md-extended-color-custom-color-color: oklch(48.274% 0.08788 254.548);
  --md-extended-color-custom-color-on-color: oklch(100% 0.00011 271.152);
  --md-extended-color-custom-color-color-container: oklch(91.26% 0.04216 261.738);
  --md-extended-color-custom-color-on-color-container: oklch(39.721% 0.09026 253.715);
}

.dark {
  --color-primary: oklch(83.173% 0.08408 275.506);
  --color-surface-tint: oklch(83.173% 0.08408 275.506);
  --color-on-primary: oklch(31.493% 0.09494 270.506);
  --color-primary-container: oklch(40.033% 0.09211 272.211);
  --color-on-primary-container: oklch(91.595% 0.04115 279.522);
  --color-secondary: oklch(82.862% 0.03371 279.963);
  --color-on-secondary: oklch(31.085% 0.03442 277.255);
  --color-secondary-container: oklch(39.819% 0.03255 275.542);
  --color-on-secondary-container: oklch(91.549% 0.03274 281.914);
  --color-tertiary: oklch(83.505% 0.06306 335.514);
  --color-on-tertiary: oklch(31.924% 0.05747 333.282);
  --color-tertiary-container: oklch(40.473% 0.05766 333.675);
  --color-on-tertiary-container: oklch(92.099% 0.05732 336.901);
  --color-error: oklch(83.83% 0.08905 26.704);
  --color-on-error: oklch(32.749% 0.13359 27.308);
  --color-error-container: oklch(41.704% 0.17015 27.367);
  --color-on-error-container: oklch(91.825% 0.04173 25.097);
  --color-background: oklch(18.795% 0.01029 276.438);
  --color-on-background: oklch(91.362% 0.01106 297.376);
  --color-surface: oklch(18.795% 0.01029 276.438);
  --color-on-surface: oklch(91.362% 0.01106 297.376);
  --color-surface-variant: oklch(39.662% 0.01517 280.624);
  --color-on-surface-variant: oklch(82.755% 0.01534 290.137);
  --color-outline: oklch(65.657% 0.01476 285.92);
  --color-outline-variant: oklch(39.662% 0.01517 280.624);
  --color-shadow: oklch(0% 0 0);
  --color-scrim: oklch(0% 0 0);
  --color-inverse-surface: oklch(91.362% 0.01106 297.376);
  --color-inverse-on-surface: oklch(31.057% 0.01081 278.209);
  --color-inverse-primary: oklch(48.622% 0.08972 273.309);
  --color-primary-fixed: oklch(91.595% 0.04115 279.522);
  --color-on-primary-fixed: oklch(23.081% 0.10007 265.935);
  --color-primary-fixed-dim: oklch(83.173% 0.08408 275.506);
  --color-on-primary-fixed-variant: oklch(40.033% 0.09211 272.211);
  --color-secondary-fixed: oklch(91.549% 0.03274 281.914);
  --color-on-secondary-fixed: oklch(22.688% 0.03371 273.325);
  --color-secondary-fixed-dim: oklch(82.862% 0.03371 279.963);
  --color-on-secondary-fixed-variant: oklch(39.819% 0.03255 275.542);
  --color-tertiary-fixed: oklch(92.099% 0.05732 336.901);
  --color-on-tertiary-fixed: oklch(23.143% 0.05646 331.648);
  --color-tertiary-fixed-dim: oklch(83.505% 0.06306 335.514);
  --color-on-tertiary-fixed-variant: oklch(40.473% 0.05766 333.675);
  --color-surface-dim: oklch(18.795% 0.01029 276.438);
  --color-surface-bright: oklch(34.591% 0.01052 278.277);
  --color-surface-container-lowest: oklch(16.505% 0.01064 276.28);
  --color-surface-container-low: oklch(22.478% 0.0116 285.407);
  --color-surface-container: oklch(24.188% 0.01138 285.492);
  --color-surface-container-high: oklch(28.601% 0.00924 276.782);
  --color-surface-container-highest: oklch(32.737% 0.01054 285.76);
  --md-extended-color-custom-color-color: oklch(82.8% 0.085 257.368);
  --md-extended-color-custom-color-on-color: oklch(31.102% 0.09218 251.675);
  --md-extended-color-custom-color-color-container: oklch(39.721% 0.09026 253.715);
  --md-extended-color-custom-color-on-color-container: oklch(91.26% 0.04216 261.738);
}
