@use "../../_utils" as u;

.card-base {
  border-radius: u.rem(12);
  padding: u.rem(16);
  outline: none;
  border: none;

  &__elevated {
    background-color: rgb(var(--color-surface-container-low));
    color: rgb(var(--color-primary));
    box-shadow: var(--elevation-level-1);

    &:disabled {
      opacity: 0.38;
      background-color: rgb(var(--color-surface));
    }

    &:hover:not(:disabled) {
      box-shadow: var(--elevation-level-2);
      background-color: rgba(var(--color-on-surface), 0.08);
    }

    &:focus-visible:not(:disabled) {
      outline: u.rem(3) solid rgb(var(--color-secondary));
      outline-offset: u.rem(2);
      background-color: rgba(var(--color-on-surface), 0.1);
    }
  }

  &__filled {}

  &__outlined {}

  &__content {}

  &__header {
    &__title {}

    &__subtitle {}

    &__description {}
  }

  &__content {
    img {}
  }

  &__footer {}
}
