@use "../../_utils" as u;

.assist-button {
    height: u.rem(32);
    padding: u.rem(7) u.rem(8);
    display: flex;
    align-items: center;
    border-radius: u.rem(8);
    outline: u.rem(1) solid rgb(var(--color-outline-variant));
    border: none;
    background-color: transparent;

    &__elevated {
        box-shadow: 0 1px 2px 0 rgba(var(--color-shadow), 1);
        background-color: rgb(var(--color-surface-container-low));
    }

    &__icon {
        height: u.rem(18);
        width: u.rem(18);
        color: rgb(var(--color-primary));
    }

    &__text {
        padding: 0 u.rem(8);
        color: rgb(var(--color-on-surface));
        font-weight: 500;
        font-size: u.rem(14);
        line-height: u.rem(40);
    }

    &:disabled {
        outline: u.rem(1) solid rgba(var(--color-on-surface), 0.12);

        &__elevated {

            background-color: rgba(var(--color-on-surface), 0.12);
        }

        cursor: not-allowed;
        box-shadow: none;

        .assist-button__icon,
        .assist-button__text {
            color: rgba(var(--color-on-surface), 0.38);
        }
    }

    &:hover:not(:disabled) {
        background-color: rgba(var(--color-on-surface), 0.08);

        &.assist-button__elevated {
            box-shadow: 0 4px 8px 0 rgba(var(--color-shadow), 1);
        }
    }

    &:focus-visible:not(:disabled) {
        outline: u.rem(3) solid rgb(var(--color-secondary));
        outline-offset: u.rem(2);
        background-color: rgba(var(--color-on-surface), 0.1);
    }
}

.filter-chip {
    height: u.rem(32);
    border-radius: u.rem(8);
    padding: u.rem(7) u.rem(8);
    display: flex;
    align-items: center;
    border: none;
    line-height: u.rem(20);
    font-size: u.rem(14);
    font-weight: 500;
    background-color: transparent;


    &__elevated {
        box-shadow: 0 1px 2px 0 rgba(var(--color-shadow), 1);
        outline: none;
        background-color: rgb(var(--color-surface-container-low));
    }

    &__text {
        padding: 0 u.rem(8);
    }

    &__indicator {
        height: u.rem(18);
        width: u.rem(18);
    }

    &__icon {
        height: u.rem(18);
        width: u.rem(18);
    }


    &[data-unchecked] {
        outline: u.rem(1) solid rgb(var(--color-outline-variant));
        color: rgb(var(--color-on-surface-variant));
        background-color: rgb(var(--color-surface-container-low));

        .filter-chip__icon {


            &__start {
                color: rgb(var(--color-on-surface-variant));
            }

            &__end {
                color: rgb(var(--color-primary));
            }
        }

        .filter-chip__text {
            color: rgb(var(--color-on-surface-variant));
        }
    }

    &[data-checked] {
        outline: u.rem(0) solid rgb(var(--color-secondary-container));
        background-color: rgb(var(--color-secondary-container));
        color: rgb(var(--color-on-secondary-container));

        .filter-chip__icon {
            color: rgb(var(--color-on-secondary-container));
        }

        .filter-chip__text {
            color: rgb(var(--color-on-secondary-container));
        }
    }


    &:disabled {
        box-shadow: none;


        &[data-unchecked] {
            outline: u.rem(1) solid rgba(var(--color-on-surface), 0.12);
        }

        &[data-checked] {
            background-color: rgba(var(--color-on-surface), 0.12);
        }

        .filter-chip__text {
            color: rgba(var(--color-on-surface), 0.38);
        }

        &.filter-chip__elevated {
            box-shadow: none;
            background-color: rgba(var(--color-on-surface), 0.12);
        }

        .filter-chip__icon {
            color: rgba(var(--color-on-surface), 0.38);
        }

    }

    &:focus-visible:not(:disabled) {
        outline: u.rem(3) solid rgb(var(--color-secondary));
        outline-offset: u.rem(2);

        &[data-checked] {
            background-color: rgba(var(--color-on-secondary-container), 0.1);

        }

        &[data-unchecked] {
            background-color: rgba(var(--color-on-surface-variant), 0.1);
        }
    }

    &:hover:not(:disabled) {
        &[data-checked] {
            box-shadow: 0 1px 2px 0 rgba(var(--color-shadow), 1);
            background-color: rgba(var(--color-on-secondary-container), 0.08);
        }

        &[data-unchecked] {
            background-color: rgba(var(--color-on-surface-variant), 0.08);
        }

        &.filter-chip__elevated {
            box-shadow: 0 4px 8px 0 rgba(var(--color-shadow), 1);
        }
    }


}

.suggestion-chip {
    padding: u.rem(7) u.rem(8);
    border-radius: u.rem(8);
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    height: u.rem(32);
    outline: u.rem(1) solid rgb(var(--color-outline-variant));

    &__elevated {
        box-shadow: 0 1px 2px 0 rgba(var(--color-shadow), 1);
        background-color: rgb(var(--color-surface-container-low));
    }

    &__text {
        padding: 0 u.rem(8);
        color: rgb(var(--color-on-surface-variant));
        font-weight: 500;
        font-size: u.rem(14);
        line-height: u.rem(20);

    }

    &__icon {
        width: u.rem(18);
        height: u.rem(18);
        color: rgb(var(--color-primary));
    }

    &:disabled {
        outline: u.rem(1) solid rgba(var(--color-on-surface), 0.12);

        &.suggestion-chip__elevated {
            box-shadow: none;
            background-color: rgba(var(--color-on-surface), 0.12);
        }

        .suggestion-chip__icon,
        .suggestion-chip__text {
            color: rgba(var(--color-on-surface), 0.38);
        }
    }

    &:hover:not(:disabled) {
        &.suggestion-chip__elevated {
            box-shadow: 0 4px 8px 0 rgba(var(--color-shadow), 1);
            background-color: rgba(var(--color-on-surface-variant), 0.08);
        }
    }

    &:focus-visible:not(:disabled) {
        outline: u.rem(3) solid rgb(var(--color-secondary));
        outline-offset: u.rem(2);
        background-color: rgba(var(--color-on-surface-variant), 0.1);
        border: u.rem(1) solid rgb(var(--color-on-surface-variant));
    }
}
